@font-face {
    font-family: "iconfont"; /* Project id 2115689 */
    src: url('../font/iconfont.woff2') format('woff2'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont-1620443939613.ttf') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 100%;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-moreinfo-copy:before {
    content: "\e647";
}

.icon-jiantouxiangyou:before {
    content: "\e717";
}

.icon-fangwenliang:before {
    content: "\e676";
}

.icon-erweima1:before {
    content: "\e716";
}

.icon-weixin1:before {
    content: "\e811";
}

.icon-qq:before {
    content: "\e65d1";
}

.icon-wechat:before {
    content: "\e6611";
}

.icon-image:before {
    content: "\e66b1";
}

.icon-qq1:before {
    content: "\e6401";
}

.icon-fenlei2:before {
    content: "\e713";
}

.icon-yueduliang:before {
    content: "\e714";
}

.icon-yonghu2:before {
    content: "\e761";
}

.icon-jurassic_calendar:before {
    content: "\e715";
}

.icon-zhengwuwaibao:before {
    content: "\e6bb";
}

.icon-Nxiaodihezuo:before {
    content: "\e6bc";
}

.icon-fabuhuodong:before {
    content: "\e6bd";
}

.icon-chanyejishulianmeng:before {
    content: "\e6be";
}

.icon-fabujishu:before {
    content: "\e6bf";
}

.icon-fabuwenda:before {
    content: "\e6c0";
}

.icon-fuwujigou1:before {
    content: "\e6c1";
}

.icon-jishufuwushang2:before {
    content: "\e6c2";
}

.icon-jishuchengguo1:before {
    content: "\e6c3";
}

.icon-gejizhengfu1:before {
    content: "\e6c4";
}

.icon-gerenzhuanjia1:before {
    content: "\e6c5";
}

.icon-jishuxuqiuyuce:before {
    content: "\e6c6";
}

.icon-fuwudingyue:before {
    content: "\e6c7";
}

.icon-fabuxuqiu:before {
    content: "\e6c9";
}

.icon-kejichengguo:before {
    content: "\e6ca";
}

.icon-kejiqiye:before {
    content: "\e6cc";
}

.icon-ruanzhuyuce:before {
    content: "\e6cd";
}

.icon-shimingrenzheng:before {
    content: "\e6ce";
}

.icon-shangbiaoyuce:before {
    content: "\e6cf";
}

.icon-jishutong:before {
    content: "\e6d0";
}

.icon-luboshenqing:before {
    content: "\e6d1";
}

.icon-wodechengguo:before {
    content: "\e6d2";
}

.icon-wodedingyue:before {
    content: "\e6d3";
}

.icon-touziyixiangyuce:before {
    content: "\e6d4";
}

.icon-shoucangguanzhu:before {
    content: "\e6d5";
}

.icon-xiaoxizhongxin:before {
    content: "\e6d6";
}

.icon-xuqiudingyue:before {
    content: "\e6d7";
}

.icon-xinxiwanshan:before {
    content: "\e6d8";
}

.icon-zhanghaoanquan:before {
    content: "\e6d9";
}

.icon-wodexuqiu:before {
    content: "\e6da";
}

.icon-yanjiujigou1:before {
    content: "\e6db";
}

.icon-zhengcezhitui:before {
    content: "\e6dc";
}

.icon-zhuanliyuce:before {
    content: "\e6dd";
}

.icon-zhiboshenqing:before {
    content: "\e6de";
}

.icon-zhongdianguanggaowei:before {
    content: "\e6df";
}

.icon-hexinxitong:before {
    content: "\e6e0";
}

.icon-jiejuefangan:before {
    content: "\e6e1";
}

.icon-chuangxinfuwu:before {
    content: "\e6e2";
}

.icon-chanyeyingyongxitong:before {
    content: "\e6e3";
}

.icon-kejipeixun:before {
    content: "\e6e4";
}

.icon-jishujiaoyijiagepingguxitong:before {
    content: "\e6e5";
}

.icon-gongxiangzhanting:before {
    content: "\e6e6";
}

.icon-keyiguojichuangxinzhongxin:before {
    content: "\e6e7";
}

.icon-qiyechuangxinnenglifenxixitong:before {
    content: "\e6e8";
}

.icon-qiyejingzhunhuokexitong:before {
    content: "\e6e9";
}

.icon-zaixianjishujiaoyixitong:before {
    content: "\e6ea";
}

.icon-keyipingtaihezuofangan:before {
    content: "\e6eb";
}

.icon-zhengcezhinanzhen:before {
    content: "\e6ec";
}

.icon-jishuxuqiuyucexitong:before {
    content: "\e6ed";
}

.icon-zhishichanquan:before {
    content: "\e6ee";
}

.icon-keji:before {
    content: "\e6ef";
}

.icon-liulanqi:before {
    content: "\e6f0";
}

.icon-wangluo1:before {
    content: "\e6f1";
}

.icon-wangluo2:before {
    content: "\e6f2";
}

.icon-yanfa_daima:before {
    content: "\e6f3";
}

.icon-sheji_huatu:before {
    content: "\e6f4";
}

.icon-xuqiu_tiaoyan:before {
    content: "\e6f5";
}

.icon-shujuku:before {
    content: "\e6f6";
}

.icon-dashuju:before {
    content: "\e6f7";
}

.icon-shuzihua:before {
    content: "\e6f8";
}

.icon-5G:before {
    content: "\e6f9";
}

.icon-OCR:before {
    content: "\e6fa";
}

.icon-AI_zhineng:before {
    content: "\e6fb";
}

.icon-xinhao:before {
    content: "\e6fc";
}

.icon-liuliang:before {
    content: "\e6fd";
}

.icon-shengtaiquan:before {
    content: "\e6fe";
}

.icon-jiedian:before {
    content: "\e6ff";
}

.icon-yun:before {
    content: "\e700";
}

.icon-fazhan:before {
    content: "\e701";
}

.icon-youshi_youzhi:before {
    content: "\e702";
}

.icon-daohanglantubiao_fuwu:before {
    content: "\e603";
}

.icon-daohanglantubiao_caiwu:before {
    content: "\e604";
}

.icon-daohanglantubiao_jichushuju:before {
    content: "\e605";
}

.icon-daohanglantubiao_huodong:before {
    content: "\e606";
}

.icon-daohanglantubiao_pinggu:before {
    content: "\e607";
}

.icon-daohanglantubiao_shanshi:before {
    content: "\e608";
}

.icon-daohanglantubiao_quanxianguanli:before {
    content: "\e60b";
}

.icon-daohanglantubiao_shebei:before {
    content: "\e60c";
}

.icon-daohanglantubiao_tongji:before {
    content: "\e60d";
}

.icon-daohanglantubiao_jiankang:before {
    content: "\e60e";
}

.icon-daohanglantubiao_yingxiao:before {
    content: "\e60f";
}

.icon-daohanglantubiao_yaopin:before {
    content: "\e610";
}

.icon-daohanglantubiao_wuyefuwu:before {
    content: "\e611";
}

.icon-daohanglantubiao_xitongguanli:before {
    content: "\e612";
}

.icon-daohanglantubiao_shangcheng:before {
    content: "\e613";
}

.icon-daohanglantubiao_xinxifabu:before {
    content: "\e614";
}

.icon-daohanglantubiao_zonghe:before {
    content: "\e615";
}

.icon-daohanglantubiao_changzhe:before {
    content: "\e616";
}

.icon-daohanglantubiao_caiwu1:before {
    content: "\e617";
}

.icon-daohanglantubiao_jichushuju1:before {
    content: "\e618";
}

.icon-daohanglantubiao_fuwu1:before {
    content: "\e619";
}

.icon-daohanglantubiao_huodong1:before {
    content: "\e61a";
}

.icon-daohanglantubiao_quanxianguanli1:before {
    content: "\e61b";
}

.icon-daohanglantubiao_jiankang1:before {
    content: "\e61c";
}

.icon-daohanglantubiao_shanshi1:before {
    content: "\e61d";
}

.icon-daohanglantubiao_shangcheng1:before {
    content: "\e61e";
}

.icon-daohanglantubiao_pinggu1:before {
    content: "\e61f";
}

.icon-daohanglantubiao_yaopin1:before {
    content: "\e622";
}

.icon-daohanglantubiao_changzhe1:before {
    content: "\e623";
}

.icon-daohanglantubiao_yingxiao1:before {
    content: "\e624";
}

.icon-daohanglantubiao_xinxifabu1:before {
    content: "\e625";
}

.icon-daohanglantubiao_shebei1:before {
    content: "\e626";
}

.icon-daohanglantubiao_tongji1:before {
    content: "\e627";
}

.icon-daohanglantubiao_xitongguanli1:before {
    content: "\e628";
}

.icon-daohanglantubiao_zonghe1:before {
    content: "\e629";
}

.icon-daohanglantubiao_wuyefuwu1:before {
    content: "\e62a";
}

.icon-daohanglantubiao_shouye:before {
    content: "\e62b";
}

.icon-gongping_gongzheng:before {
    content: "\e703";
}

.icon-qukuailian:before {
    content: "\e704";
}

.icon-qukuai:before {
    content: "\e705";
}

.icon-Fabric_mokuai:before {
    content: "\e707";
}

.icon-yewulian:before {
    content: "\e708";
}

.icon-kuaisu_jiasu:before {
    content: "\e709";
}

.icon-gongping_gongzheng1:before {
    content: "\e70a";
}

.icon-wending:before {
    content: "\e70b";
}

.icon-zaixian:before {
    content: "\e70c";
}

.icon-fuzhu_xiezhu:before {
    content: "\e70d";
}

.icon-bianjie_fangbian:before {
    content: "\e70e";
}

.icon-hezuo_gongshi:before {
    content: "\e70f";
}

.icon-shanjianzhi_qi:before {
    content: "\e710";
}

.icon-fenbushi:before {
    content: "\e711";
}

.icon-shuzihuobi:before {
    content: "\e712";
}

.icon-chanyezhitui:before {
    content: "\e680";
}

.icon-fuwujigou:before {
    content: "\e681";
}

.icon-keyijiangtan:before {
    content: "\e682";
}

.icon-gerenzhuanjia:before {
    content: "\e683";
}

.icon-jingxuanyoupin:before {
    content: "\e684";
}

.icon-shengchanqiye:before {
    content: "\e685";
}

.icon-xianxiahuodong:before {
    content: "\e686";
}

.icon-yuanqu:before {
    content: "\e687";
}

.icon-yanjiujigou:before {
    content: "\e688";
}

.icon-quanguogaoxiao:before {
    content: "\e689";
}

.icon-chanxueyanpingtai:before {
    content: "\e68a";
}

.icon-keyiyanboshi:before {
    content: "\e68b";
}

.icon-youzhigongyingshang:before {
    content: "\e68c";
}

.icon-zaixianzhanhui:before {
    content: "\e68d";
}

.icon-rementuijian:before {
    content: "\e68e";
}

.icon-chengguozhuanhua:before {
    content: "\e68f";
}

.icon-chanxueyanfuwu:before {
    content: "\e690";
}

.icon-fuwuquyu:before {
    content: "\e691";
}

.icon-gejizhengfu:before {
    content: "\e692";
}

.icon-chuangxinlujing:before {
    content: "\e693";
}

.icon-meitijujiao:before {
    content: "\e694";
}

.icon-nantijiejue:before {
    content: "\e695";
}

.icon-lingdaoguanhuai:before {
    content: "\e697";
}

.icon-zhengfufuwudongtai:before {
    content: "\e698";
}

.icon-qiyefuwudongtai:before {
    content: "\e699";
}

.icon-chengguozhitongche:before {
    content: "\e69a";
}

.icon-jishufuwushang:before {
    content: "\e69b";
}

.icon-jishufenxi:before {
    content: "\e69c";
}

.icon-yuanshigongzuozhan:before {
    content: "\e69d";
}

.icon-xiangmuluyan:before {
    content: "\e69e";
}

.icon-zhaogaoxiao:before {
    content: "\e69f";
}

.icon-zhaozhuanjia:before {
    content: "\e6a0";
}

.icon-xuqiuzhitongche:before {
    content: "\e6a1";
}

.icon-zhaochengguo:before {
    content: "\e6a3";
}

.icon-zhaoxuqiu:before {
    content: "\e6a4";
}

.icon-zhaozhuanli:before {
    content: "\e6a5";
}

.icon-zhaohuodong:before {
    content: "\e6a6";
}

.icon-gaoxiao:before {
    content: "\e6a7";
}

.icon-chanxueyanhezuo:before {
    content: "\e6a8";
}

.icon-chengguozhuanhuafuwu:before {
    content: "\e6a9";
}

.icon-hezuojigou:before {
    content: "\e6aa";
}

.icon-jishunantijiejue:before {
    content: "\e6ab";
}

.icon-jishufuwushang1:before {
    content: "\e6ac";
}

.icon-jishuzhuanjia:before {
    content: "\e6ad";
}

.icon-jishuchengguo:before {
    content: "\e6ae";
}

.icon-jishuzhuanyifuwu:before {
    content: "\e6af";
}

.icon-kejifuwu:before {
    content: "\e6b0";
}

.icon-yanjiuyuansuo:before {
    content: "\e6b1";
}

.icon-gongshangcaishui:before {
    content: "\e6b2";
}

.icon-chanyedashujufuwupingtai:before {
    content: "\e6b3";
}

.icon-jisuanjikaifa:before {
    content: "\e6b4";
}

.icon-gongyesheji:before {
    content: "\e6b5";
}

.icon-kejixiangmu:before {
    content: "\e6b6";
}

.icon-quyujishushichang:before {
    content: "\e6b7";
}

.icon-pinpaisheji:before {
    content: "\e6b8";
}

.icon-yuanqufuwu:before {
    content: "\e6b9";
}

.icon-zhengcezhipei:before {
    content: "\e6ba";
}

.icon-sousuo1:before {
    content: "\e640";
}

.icon-daohang:before {
    content: "\e8fb";
}

.icon-dianhua2:before {
    content: "\e62c";
}

.icon-lunbotujiantou02:before {
    content: "\e696";
}

.icon-lunbotujiantou021:before {
    content: "\e6a2";
}

.icon-biaoqian1:before {
    content: "\e6c8";
}

.icon-gengduo:before {
    content: "\e620";
}

.icon-dianhua:before {
    content: "\e609";
}

.icon-35:before {
    content: "\e621";
}

.icon-icon-home:before {
    content: "\e60a";
}

.icon-lianxiren:before {
    content: "\e654";
}

.icon-dizhi:before {
    content: "\e602";
}

.icon-youxiang:before {
    content: "\e7b1";
}

.icon-ziyuan:before {
    content: "\e63d";
}

.icon-guanbi1:before {
    content: "\e706";
}

.icon-xiangxia2:before {
    content: "\e642";
}

.icon-xiangxia3:before {
    content: "\e6cb";
}

